@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    :root {
      --card: 300 50% 100%;
      --ring: 300 44% 34%;
      --input: 220 13% 91%;
      --muted: 60 12% 89%;
      --accent: 27.17 91.6% 43.76%;
      --border: 220 13% 91%;
      --popover: 300 50% 100%;
      --primary: 300 44% 34%;
      --secondary: 201.51 72.08% 40.68%;
      --background: 300 50% 100%;
      --foreground: 300 61% 2%;
      --destructive: 13.58 75.38% 42.98%;
      --card-foreground: 300 61% 2%;
      --muted-foreground: 60 1% 26%;
      --accent-foreground: 0 0% 100%;
      --popover-foreground: 300 61% 2%;
      --primary-foreground: 300 44% 94%;
      --secondary-foreground: 0 0% 100%;
      --destructive-foreground: 0 0% 100%;
      --radius: 0.5rem;
    }

    .dark {
      --card: 300 58% 4%;
      --ring: 300 44% 34%;
      --input: 215 27.9% 16.9%;
      --muted: 60 12% 11%;
      --accent: 180 44% 34%;
      --border: 215 27.9% 16.9%;
      --popover: 300 58% 4%;
      --primary: 300 44% 34%;
      --secondary: 60 44% 34%;
      --background: 300 58% 4%;
      --foreground: 300 33% 98%;
      --destructive: 18 86% 49%;
      --card-foreground: 300 33% 98%;
      --muted-foreground: 60 1% 74%;
      --accent-foreground: 0 0% 100%;
      --popover-foreground: 300 33% 98%;
      --primary-foreground: 300 44% 94%;
      --secondary-foreground: 0 0% 100%;
      --destructive-foreground: 0 0% 100%;
    }
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

html {
  min-width: 0;
  min-height: 100vh;
}
